# Pandas

Pandas is seriously a game changer when it comes to cleaning, transforming, manipulating and analyzing data. In simple terms, Pandas helps to clean the mess.

###### CHEAT SHEET : https://www.dataquest.io/blog/pandas-cheat-sheet/

In [1]:
import pandas as pd

df = pd.read_csv('pokemon_data.csv')
print(df)

#df_xlsx = pd.read_excel('pokemon_data.xlsx')
#print(df_xlsx.head(3))

#df = pd.read_csv('pokemon_data.txt', delimiter='\t')
#print(df)

#df['HP'] #select a series/column from a dataset

       #                       Name    Type 1  Type 2   HP  Attack  Defense  \
0      1                  Bulbasaur     Grass  Poison   45      49       49
1      2                    Ivysaur     Grass  Poison   60      62       63
2      3                   Venusaur     Grass  Poison   80      82       83
3      3      VenusaurMega Venusaur     Grass  Poison   80     100      123
4      4                 Charmander      Fire     NaN   39      52       43
5      5                 Charmeleon      Fire     NaN   58      64       58
6      6                  Charizard      Fire  Flying   78      84       78
7      6  CharizardMega Charizard X      Fire  Dragon   78     130      111
8      6  CharizardMega Charizard Y      Fire  Flying   78     104       78
9      7                   Squirtle     Water     NaN   44      48       65
10     8                  Wartortle     Water     NaN   59      63       80
11     9                  Blastoise     Water     NaN   79      83      100
12     9    BlastoiseMega Blastoise     Water     NaN   79     103      120
13    10                   Caterpie       Bug     NaN   45      30       35
14    11                    Metapod       Bug     NaN   50      20       55
15    12                 Butterfree       Bug  Flying   60      45       50
16    13                     Weedle       Bug  Poison   40      35       30
17    14                     Kakuna       Bug  Poison   45      25       50
18    15                   Beedrill       Bug  Poison   65      90       40
19    15      BeedrillMega Beedrill       Bug  Poison   65     150       40
20    16                     Pidgey    Normal  Flying   40      45       40
21    17                  Pidgeotto    Normal  Flying   63      60       55
22    18                    Pidgeot    Normal  Flying   83      80       75
23    18        PidgeotMega Pidgeot    Normal  Flying   83      80       80
24    19                    Rattata    Normal     NaN   30      56       35
25    20                   Raticate    Normal     NaN   55      81       60
26    21                    Spearow    Normal  Flying   40      60       30
27    22                     Fearow    Normal  Flying   65      90       65
28    23                      Ekans    Poison     NaN   35      60       44
29    24                      Arbok    Poison     NaN   60      85       69
..   ...                        ...       ...     ...  ...     ...      ...
770  700                    Sylveon     Fairy     NaN   95      65       65
771  701                   Hawlucha  Fighting  Flying   78      92       75
772  702                    Dedenne  Electric   Fairy   67      58       57
773  703                    Carbink      Rock   Fairy   50      50      150
774  704                      Goomy    Dragon     NaN   45      50       35
775  705                    Sliggoo    Dragon     NaN   68      75       53
776  706                     Goodra    Dragon     NaN   90     100       70
777  707                     Klefki     Steel   Fairy   57      80       91
778  708                   Phantump     Ghost   Grass   43      70       48
779  709                  Trevenant     Ghost   Grass   85     110       76
780  710      PumpkabooAverage Size     Ghost   Grass   49      66       70
781  710        PumpkabooSmall Size     Ghost   Grass   44      66       70
782  710        PumpkabooLarge Size     Ghost   Grass   54      66       70
783  710        PumpkabooSuper Size     Ghost   Grass   59      66       70
784  711      GourgeistAverage Size     Ghost   Grass   65      90      122
785  711        GourgeistSmall Size     Ghost   Grass   55      85      122
786  711        GourgeistLarge Size     Ghost   Grass   75      95      122
787  711        GourgeistSuper Size     Ghost   Grass   85     100      122
788  712                   Bergmite       Ice     NaN   55      69       85
789  713                    Avalugg       Ice     NaN   95     117      184
790  714                     Noibat    Flying  Dragon   40      30       35
791  715                    Noivern    Flying  Dragon   85      70       80
792  716                    Xerneas     Fairy     NaN  126     131       95
793  717                    Yveltal      Dark  Flying  126     131       95
794  718           Zygarde50% Forme    Dragon  Ground  108     100      121
795  719                    Diancie      Rock   Fairy   50     100      150
796  719        DiancieMega Diancie      Rock   Fairy   50     160      110
797  720        HoopaHoopa Confined   Psychic   Ghost   80     110       60
798  720         HoopaHoopa Unbound   Psychic    Dark   80     160       60
799  721                  Volcanion      Fire   Water   80     110      120

     Sp. Atk  Sp. Def  Speed  Generation  Legendary
0         65       65     45           1      False
1         80       80     60           1      False
2        100      100     80           1      False
3        122      120     80           1      False
4         60       50     65           1      False
5         80       65     80           1      False
6        109       85    100           1      False
7        130       85    100           1      False
8        159      115    100           1      False
9         50       64     43           1      False
10        65       80     58           1      False
11        85      105     78           1      False
12       135      115     78           1      False
13        20       20     45           1      False
14        25       25     30           1      False
15        90       80     70           1      False
16        20       20     50           1      False
17        25       25     35           1      False
18        45       80     75           1      False
19        15       80    145           1      False
20        35       35     56           1      False
21        50       50     71           1      False
22        70       70    101           1      False
23       135       80    121           1      False
24        25       35     72           1      False
25        50       70     97           1      False
26        31       31     70           1      False
27        61       61    100           1      False
28        40       54     55           1      False
29        65       79     80           1      False
..       ...      ...    ...         ...        ...
770      110      130     60           6      False
771       74       63    118           6      False
772       81       67    101           6      False
773       50      150     50           6      False
774       55       75     40           6      False
775       83      113     60           6      False
776      110      150     80           6      False
777       80       87     75           6      False
778       50       60     38           6      False
779       65       82     56           6      False
780       44       55     51           6      False
781       44       55     56           6      False
782       44       55     46           6      False
783       44       55     41           6      False
784       58       75     84           6      False
785       58       75     99           6      False
786       58       75     69           6      False
787       58       75     54           6      False
788       32       35     28           6      False
789       44       46     28           6      False
790       45       40     55           6      False
791       97       80    123           6      False
792      131       98     99           6       True
793      131       98     99           6       True
794       81       95     95           6       True
795      100      150     50           6       True
796      160      110    110           6       True
797      150      130     70           6       True
798      170      130     80           6       True
799      130       90     70           6       True

[800 rows x 12 columns]

In [2]:
ufo = pd.read_csv('ufo-sightings.csv')
print(ufo)

                       City Colors Reported Shape Reported State  \
0                    Ithaca             NaN       TRIANGLE    NY
1               Willingboro             NaN          OTHER    NJ
2                   Holyoke             NaN           OVAL    CO
3                   Abilene             NaN           DISK    KS
4      New York Worlds Fair             NaN          LIGHT    NY
5               Valley City             NaN           DISK    ND
6               Crater Lake             NaN         CIRCLE    CA
7                      Alma             NaN           DISK    MI
8                   Eklutna             NaN          CIGAR    AK
9                   Hubbard             NaN       CYLINDER    OR
10                  Fontana             NaN          LIGHT    CA
11                 Waterloo             NaN       FIREBALL    AL
12                   Belton             RED         SPHERE    SC
13                   Keokuk             NaN           OVAL    IA
14                Ludington             NaN           DISK    MI
15              Forest Home             NaN         CIRCLE    CA
16              Los Angeles             NaN            NaN    CA
17                Hapeville             NaN            NaN    GA
18                   Oneida             NaN      RECTANGLE    TN
19               Bering Sea             RED          OTHER    AK
20                 Nebraska             NaN           DISK    NE
21                      NaN             NaN            NaN    LA
22                      NaN             NaN          LIGHT    LA
23                Owensboro             NaN      RECTANGLE    KY
24               Wilderness             NaN           DISK    WV
25                San Diego             NaN          CIGAR    CA
26               Wilderness             NaN           DISK    WV
27                   Clovis             NaN           DISK    NM
28               Los Alamos             NaN           DISK    NM
29             Ft. Duschene             NaN           DISK    UT
...                     ...             ...            ...   ...
18211               Holyoke             NaN        DIAMOND    MA
18212                Carson             NaN           DISK    CA
18213              Pasadena           GREEN       FIREBALL    CA
18214                Austin             NaN      FORMATION    TX
18215              El Campo             NaN          OTHER    TX
18216          Garden Grove          ORANGE          LIGHT    CA
18217         Berthoud Pass             NaN       TRIANGLE    CO
18218            Sisterdale             NaN        DIAMOND    TX
18219          Garden Grove             NaN        CHEVRON    CA
18220           Shasta Lake            BLUE           DISK    CA
18221              Franklin             NaN           DISK    NH
18222        Albrightsville             NaN          OTHER    PA
18223            Greenville             NaN            NaN    SC
18224               Eufaula             NaN           DISK    OK
18225           Simi Valley             NaN      FORMATION    CA
18226         San Francisco             NaN      FORMATION    CA
18227         San Francisco             NaN       TRIANGLE    CA
18228            Kingsville             NaN          LIGHT    TX
18229               Chicago             NaN           DISK    IL
18230           Pismo Beach             NaN           OVAL    CA
18231           Pismo Beach             NaN           OVAL    CA
18232                  Lodi             NaN            NaN    WI
18233             Anchorage             RED        VARIOUS    AK
18234              Capitola             NaN       TRIANGLE    CA
18235        Fountain Hills             NaN            NaN    AZ
18236            Grant Park             NaN       TRIANGLE    IL
18237           Spirit Lake             NaN           DISK    IA
18238           Eagle River             NaN            NaN    WI
18239           Eagle River             RED          LIGHT    WI
18240                  Ybor             NaN           OVAL    FL

                   Time
0        6/1/1930 22:00
1       6/30/1930 20:00
2       2/15/1931 14:00
3        6/1/1931 13:00
4       4/18/1933 19:00
5       9/15/1934 15:30
6        6/15/1935 0:00
7        7/15/1936 0:00
8      10/15/1936 17:00
9        6/15/1937 0:00
10      8/15/1937 21:00
11       6/1/1939 20:00
12      6/30/1939 20:00
13        7/7/1939 2:00
14       6/1/1941 13:00
15       7/2/1941 11:30
16       2/25/1942 0:00
17       6/1/1942 22:30
18       7/15/1942 1:00
19      4/30/1943 23:00
20       6/1/1943 15:00
21       8/15/1943 0:00
22       8/15/1943 0:00
23     10/15/1943 11:00
24       1/1/1944 10:00
25       1/1/1944 12:00
26       1/1/1944 12:00
27       4/2/1944 11:00
28       6/1/1944 12:00
29      6/30/1944 10:00
...                 ...
18211  12/28/2000 18:00
18212  12/28/2000 18:20
18213  12/28/2000 19:10
18214   12/29/2000 0:00
18215   12/29/2000 9:00
18216  12/29/2000 16:10
18217  12/29/2000 19:30
18218  12/29/2000 20:00
18219  12/29/2000 20:30
18220  12/29/2000 20:30
18221  12/29/2000 20:50
18222  12/29/2000 21:00
18223  12/29/2000 22:00
18224  12/29/2000 23:30
18225  12/30/2000 10:00
18226  12/30/2000 22:00
18227  12/30/2000 22:00
18228   12/31/2000 4:00
18229  12/31/2000 11:45
18230  12/31/2000 20:00
18231  12/31/2000 20:00
18232  12/31/2000 20:30
18233  12/31/2000 21:00
18234  12/31/2000 22:00
18235  12/31/2000 23:00
18236  12/31/2000 23:00
18237  12/31/2000 23:00
18238  12/31/2000 23:45
18239  12/31/2000 23:45
18240  12/31/2000 23:59

[18241 rows x 5 columns]

In [3]:
movies = pd.read_csv('http://bit.ly/imdbratings')
print(movies)

     star_rating                                              title  \
0            9.3                           The Shawshank Redemption
1            9.2                                      The Godfather
2            9.1                             The Godfather: Part II
3            9.0                                    The Dark Knight
4            8.9                                       Pulp Fiction
5            8.9                                       12 Angry Men
6            8.9                     The Good, the Bad and the Ugly
7            8.9      The Lord of the Rings: The Return of the King
8            8.9                                   Schindler's List
9            8.9                                         Fight Club
10           8.8  The Lord of the Rings: The Fellowship of the Ring
11           8.8                                          Inception
12           8.8     Star Wars: Episode V - The Empire Strikes Back
13           8.8                                       Forrest Gump
14           8.8              The Lord of the Rings: The Two Towers
15           8.7                                       Interstellar
16           8.7                    One Flew Over the Cuckoo's Nest
17           8.7                                      Seven Samurai
18           8.7                                         Goodfellas
19           8.7                                          Star Wars
20           8.7                                         The Matrix
21           8.7                                        City of God
22           8.7                              It's a Wonderful Life
23           8.7                                 The Usual Suspects
24           8.7                                              Se7en
25           8.6                                  Life Is Beautiful
26           8.6                       Once Upon a Time in the West
27           8.6                           The Silence of the Lambs
28           8.6                             Leon: The Professional
29           8.6                                        City Lights
..           ...                                                ...
949          7.4                                         Home Alone
950          7.4                                              Bound
951          7.4                                      Sleepy Hollow
952          7.4                                       Pirate Radio
953          7.4                              The NeverEnding Story
954          7.4                                              X-Men
955          7.4                                   Zero Dark Thirty
956          7.4                           Manhattan Murder Mystery
957          7.4                        National Lampoon's Vacation
958          7.4                                 My Sister's Keeper
959          7.4                               Deconstructing Harry
960          7.4                                   The Way Way Back
961          7.4                                             Capote
962          7.4                                 Driving Miss Daisy
963          7.4                                    La Femme Nikita
964          7.4                                            Lincoln
965          7.4                                          Limitless
966          7.4                                 The Simpsons Movie
967          7.4                                           The Rock
968          7.4                                The English Patient
969          7.4                                Law Abiding Citizen
970          7.4                                        Wonder Boys
971          7.4                                 Death at a Funeral
972          7.4                                     Blue Valentine
973          7.4                              The Cider House Rules
974          7.4                                            Tootsie
975          7.4                        Back to the Future Part III
976          7.4    Master and Commander: The Far Side of the World
977          7.4                                        Poltergeist
978          7.4                                        Wall Street

    content_rating      genre  duration  \
0                R      Crime       142
1                R      Crime       175
2                R      Crime       200
3            PG-13     Action       152
4                R      Crime       154
5        NOT RATED      Drama        96
6        NOT RATED    Western       161
7            PG-13  Adventure       201
8                R  Biography       195
9                R      Drama       139
10           PG-13  Adventure       178
11           PG-13     Action       148
12              PG     Action       124
13           PG-13      Drama       142
14           PG-13  Adventure       179
15           PG-13  Adventure       169
16               R      Drama       133
17         UNRATED      Drama       207
18               R  Biography       146
19              PG     Action       121
20               R     Action       136
21               R      Crime       130
22        APPROVED      Drama       130
23               R      Crime       106
24               R      Drama       127
25           PG-13     Comedy       116
26           PG-13    Western       175
27               R      Drama       118
28               R      Crime       110
29          PASSED     Comedy        87
..             ...        ...       ...
949             PG     Comedy       103
950              R      Crime       108
951              R      Drama       105
952              R     Comedy       117
953             PG  Adventure       102
954          PG-13     Action       104
955              R      Drama       157
956             PG     Comedy       104
957              R     Comedy        98
958          PG-13      Drama       109
959              R     Comedy        96
960          PG-13     Comedy       103
961              R  Biography       114
962             PG     Comedy        99
963              R     Action       118
964          PG-13  Biography       150
965          PG-13    Mystery       105
966          PG-13  Animation        87
967              R     Action       136
968              R      Drama       162
969              R      Crime       109
970              R      Drama       107
971              R     Comedy        90
972          NC-17      Drama       112
973          PG-13      Drama       126
974             PG     Comedy       116
975             PG  Adventure       118
976          PG-13     Action       138
977             PG     Horror       114
978              R      Crime       126

                                           actors_list
0    [u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt...
1      [u'Marlon Brando', u'Al Pacino', u'James Caan']
2    [u'Al Pacino', u'Robert De Niro', u'Robert Duv...
3    [u'Christian Bale', u'Heath Ledger', u'Aaron E...
4    [u'John Travolta', u'Uma Thurman', u'Samuel L....
5    [u'Henry Fonda', u'Lee J. Cobb', u'Martin Bals...
6    [u'Clint Eastwood', u'Eli Wallach', u'Lee Van ...
7    [u'Elijah Wood', u'Viggo Mortensen', u'Ian McK...
8    [u'Liam Neeson', u'Ralph Fiennes', u'Ben Kings...
9    [u'Brad Pitt', u'Edward Norton', u'Helena Bonh...
10   [u'Elijah Wood', u'Ian McKellen', u'Orlando Bl...
11   [u'Leonardo DiCaprio', u'Joseph Gordon-Levitt'...
12   [u'Mark Hamill', u'Harrison Ford', u'Carrie Fi...
13     [u'Tom Hanks', u'Robin Wright', u'Gary Sinise']
14   [u'Elijah Wood', u'Ian McKellen', u'Viggo Mort...
15   [u'Matthew McConaughey', u'Anne Hathaway', u'J...
16   [u'Jack Nicholson', u'Louise Fletcher', u'Mich...
17   [u'Toshir\xf4 Mifune', u'Takashi Shimura', u'K...
18    [u'Robert De Niro', u'Ray Liotta', u'Joe Pesci']
19   [u'Mark Hamill', u'Harrison Ford', u'Carrie Fi...
20   [u'Keanu Reeves', u'Laurence Fishburne', u'Car...
21   [u'Alexandre Rodrigues', u'Matheus Nachtergael...
22   [u'James Stewart', u'Donna Reed', u'Lionel Bar...
23   [u'Kevin Spacey', u'Gabriel Byrne', u'Chazz Pa...
24   [u'Morgan Freeman', u'Brad Pitt', u'Kevin Spac...
25   [u'Roberto Benigni', u'Nicoletta Braschi', u'G...
26   [u'Henry Fonda', u'Charles Bronson', u'Claudia...
27   [u'Jodie Foster', u'Anthony Hopkins', u'Lawren...
28   [u'Jean Reno', u'Gary Oldman', u'Natalie Portm...
29   [u'Charles Chaplin', u'Virginia Cherrill', u'F...
..                                                 ...
949  [u'Macaulay Culkin', u'Joe Pesci', u'Daniel St...
950  [u'Jennifer Tilly', u'Gina Gershon', u'Joe Pan...
951  [u'Johnny Depp', u'Christina Ricci', u'Miranda...
952  [u'Philip Seymour Hoffman', u'Bill Nighy', u'N...
953  [u'Noah Hathaway', u'Barret Oliver', u'Tami St...
954  [u'Patrick Stewart', u'Hugh Jackman', u'Ian Mc...
955  [u'Jessica Chastain', u'Joel Edgerton', u'Chri...
956  [u'Woody Allen', u'Diane Keaton', u'Jerry Adler']
957  [u'Chevy Chase', u"Beverly D'Angelo", u'Imogen...
958  [u'Cameron Diaz', u'Abigail Breslin', u'Alec B...
959  [u'Woody Allen', u'Judy Davis', u'Julia Louis-...
960  [u'Steve Carell', u'Toni Collette', u'Allison ...
961  [u'Philip Seymour Hoffman', u'Clifton Collins ...
962  [u'Morgan Freeman', u'Jessica Tandy', u'Dan Ay...
963  [u'Anne Parillaud', u'Marc Duret', u'Patrick F...
964  [u'Daniel Day-Lewis', u'Sally Field', u'David ...
965  [u'Bradley Cooper', u'Anna Friel', u'Abbie Cor...
966  [u'Dan Castellaneta', u'Julie Kavner', u'Nancy...
967   [u'Sean Connery', u'Nicolas Cage', u'Ed Harris']
968  [u'Ralph Fiennes', u'Juliette Binoche', u'Will...
969  [u'Gerard Butler', u'Jamie Foxx', u'Leslie Bibb']
970  [u'Michael Douglas', u'Tobey Maguire', u'Franc...
971  [u'Matthew Macfadyen', u'Peter Dinklage', u'Ew...
972  [u'Ryan Gosling', u'Michelle Williams', u'John...
973  [u'Tobey Maguire', u'Charlize Theron', u'Micha...
974  [u'Dustin Hoffman', u'Jessica Lange', u'Teri G...
975  [u'Michael J. Fox', u'Christopher Lloyd', u'Ma...
976  [u'Russell Crowe', u'Paul Bettany', u'Billy Bo...
977  [u'JoBeth Williams', u"Heather O'Rourke", u'Cr...
978  [u'Charlie Sheen', u'Michael Douglas', u'Tamar...

[979 rows x 6 columns]

In [40]:
orders = pd.read_table('http://bit.ly/chiporders')
print(orders)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: read_table is deprecated, use read_csv instead, passing sep='\t'.
  """Entry point for launching an IPython kernel.

      order_id  quantity                              item_name  \
0            1         1           Chips and Fresh Tomato Salsa
1            1         1                                   Izze
2            1         1                       Nantucket Nectar
3            1         1  Chips and Tomatillo-Green Chili Salsa
4            2         2                           Chicken Bowl
5            3         1                           Chicken Bowl
6            3         1                          Side of Chips
7            4         1                          Steak Burrito
8            4         1                       Steak Soft Tacos
9            5         1                          Steak Burrito
10           5         1                    Chips and Guacamole
11           6         1                   Chicken Crispy Tacos
12           6         1                     Chicken Soft Tacos
13           7         1                           Chicken Bowl
14           7         1                    Chips and Guacamole
15           8         1  Chips and Tomatillo-Green Chili Salsa
16           8         1                        Chicken Burrito
17           9         1                        Chicken Burrito
18           9         2                            Canned Soda
19          10         1                           Chicken Bowl
20          10         1                    Chips and Guacamole
21          11         1                       Barbacoa Burrito
22          11         1                       Nantucket Nectar
23          12         1                        Chicken Burrito
24          12         1                                   Izze
25          13         1           Chips and Fresh Tomato Salsa
26          13         1                           Chicken Bowl
27          14         1                       Carnitas Burrito
28          14         1                            Canned Soda
29          15         1                        Chicken Burrito
...        ...       ...                                    ...
4592      1825         1                       Barbacoa Burrito
4593      1825         1                          Carnitas Bowl
4594      1825         1                          Barbacoa Bowl
4595      1826         1                           Chicken Bowl
4596      1826         1                    Chips and Guacamole
4597      1826         1                      Canned Soft Drink
4598      1826         1                          Bottled Water
4599      1827         1                           Chicken Bowl
4600      1827         1                    Chips and Guacamole
4601      1827         1                      Canned Soft Drink
4602      1827         1                       Barbacoa Burrito
4603      1827         1                       Barbacoa Burrito
4604      1828         1                           Chicken Bowl
4605      1828         1                    Chips and Guacamole
4606      1828         1                      Canned Soft Drink
4607      1829         1                          Steak Burrito
4608      1829         1                         Veggie Burrito
4609      1829         1                      Canned Soft Drink
4610      1830         1                          Steak Burrito
4611      1830         1                         Veggie Burrito
4612      1831         1                          Carnitas Bowl
4613      1831         1                                  Chips
4614      1831         1                          Bottled Water
4615      1832         1                     Chicken Soft Tacos
4616      1832         1                    Chips and Guacamole
4617      1833         1                          Steak Burrito
4618      1833         1                          Steak Burrito
4619      1834         1                     Chicken Salad Bowl
4620      1834         1                     Chicken Salad Bowl
4621      1834         1                     Chicken Salad Bowl

                                     choice_description item_price
0                                                   NaN     $2.39
1                                          [Clementine]     $3.39
2                                               [Apple]     $3.39
3                                                   NaN     $2.39
4     [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98
5     [Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...    $10.98
6                                                   NaN     $1.69
7     [Tomatillo Red Chili Salsa, [Fajita Vegetables...    $11.75
8     [Tomatillo Green Chili Salsa, [Pinto Beans, Ch...     $9.25
9     [Fresh Tomato Salsa, [Rice, Black Beans, Pinto...     $9.25
10                                                  NaN     $4.45
11    [Roasted Chili Corn Salsa, [Fajita Vegetables,...     $8.75
12    [Roasted Chili Corn Salsa, [Rice, Black Beans,...     $8.75
13    [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...    $11.25
14                                                  NaN     $4.45
15                                                  NaN     $2.39
16    [Tomatillo-Green Chili Salsa (Medium), [Pinto ...     $8.49
17    [Fresh Tomato Salsa (Mild), [Black Beans, Rice...     $8.49
18                                             [Sprite]     $2.18
19    [Tomatillo Red Chili Salsa, [Fajita Vegetables...     $8.75
20                                                  NaN     $4.45
21    [[Fresh Tomato Salsa (Mild), Tomatillo-Green C...     $8.99
22                                 [Pomegranate Cherry]     $3.39
23    [[Tomatillo-Green Chili Salsa (Medium), Tomati...    $10.98
24                                         [Grapefruit]     $3.39
25                                                  NaN     $2.39
26    [Roasted Chili Corn Salsa (Medium), [Pinto Bea...     $8.49
27    [[Tomatillo-Green Chili Salsa (Medium), Roaste...     $8.99
28                                         [Dr. Pepper]     $1.09
29    [Tomatillo-Green Chili Salsa (Medium), [Pinto ...     $8.49
...                                                 ...        ...
4592  [Tomatillo Red Chili Salsa, [Rice, Fajita Vege...    $11.75
4593  [Roasted Chili Corn Salsa, [Rice, Sour Cream, ...    $11.75
4594  [Roasted Chili Corn Salsa, [Pinto Beans, Sour ...    $11.75
4595  [Tomatillo Green Chili Salsa, [Rice, Black Bea...     $8.75
4596                                                NaN     $4.45
4597                                           [Nestea]     $1.25
4598                                                NaN     $1.50
4599      [Roasted Chili Corn Salsa, [Cheese, Lettuce]]     $8.75
4600                                                NaN     $4.45
4601                                        [Diet Coke]     $1.25
4602                      [Tomatillo Green Chili Salsa]     $9.25
4603                      [Tomatillo Green Chili Salsa]     $9.25
4604  [Fresh Tomato Salsa, [Rice, Black Beans, Chees...     $8.75
4605                                                NaN     $4.45
4606                                             [Coke]     $1.25
4607  [Tomatillo Green Chili Salsa, [Rice, Cheese, S...    $11.75
4608  [Tomatillo Red Chili Salsa, [Fajita Vegetables...    $11.25
4609                                           [Sprite]     $1.25
4610  [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...    $11.75
4611  [Tomatillo Green Chili Salsa, [Rice, Fajita Ve...    $11.25
4612  [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...     $9.25
4613                                                NaN     $2.15
4614                                                NaN     $1.50
4615   [Fresh Tomato Salsa, [Rice, Cheese, Sour Cream]]     $8.75
4616                                                NaN     $4.45
4617  [Fresh Tomato Salsa, [Rice, Black Beans, Sour ...    $11.75
4618  [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...    $11.75
4619  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...    $11.25
4620  [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...     $8.75
4621  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...     $8.75

[4622 rows x 5 columns]

In [43]:
drinks = pd.read_csv('http://bit.ly/drinksbycountry')
print(drinks)

                  country  beer_servings  spirit_servings  wine_servings  \
0             Afghanistan              0                0              0
1                 Albania             89              132             54
2                 Algeria             25                0             14
3                 Andorra            245              138            312
4                  Angola            217               57             45
5       Antigua & Barbuda            102              128             45
6               Argentina            193               25            221
7                 Armenia             21              179             11
8               Australia            261               72            212
9                 Austria            279               75            191
10             Azerbaijan             21               46              5
11                Bahamas            122              176             51
12                Bahrain             42               63              7
13             Bangladesh              0                0              0
14               Barbados            143              173             36
15                Belarus            142              373             42
16                Belgium            295               84            212
17                 Belize            263              114              8
18                  Benin             34                4             13
19                 Bhutan             23                0              0
20                Bolivia            167               41              8
21     Bosnia-Herzegovina             76              173              8
22               Botswana            173               35             35
23                 Brazil            245              145             16
24                 Brunei             31                2              1
25               Bulgaria            231              252             94
26           Burkina Faso             25                7              7
27                Burundi             88                0              0
28          Cote d'Ivoire             37                1              7
29             Cabo Verde            144               56             16
..                    ...            ...              ...            ...
163              Suriname            128              178              7
164             Swaziland             90                2              2
165                Sweden            152               60            186
166           Switzerland            185              100            280
167                 Syria              5               35             16
168            Tajikistan              2               15              0
169              Thailand             99              258              1
170             Macedonia            106               27             86
171           Timor-Leste              1                1              4
172                  Togo             36                2             19
173                 Tonga             36               21              5
174     Trinidad & Tobago            197              156              7
175               Tunisia             51                3             20
176                Turkey             51               22              7
177          Turkmenistan             19               71             32
178                Tuvalu              6               41              9
179                Uganda             45                9              0
180               Ukraine            206              237             45
181  United Arab Emirates             16              135              5
182        United Kingdom            219              126            195
183              Tanzania             36                6              1
184                   USA            249              158             84
185               Uruguay            115               35            220
186            Uzbekistan             25              101              8
187               Vanuatu             21               18             11
188             Venezuela            333              100              3
189               Vietnam            111                2              1
190                 Yemen              6                0              0
191                Zambia             32               19              4
192              Zimbabwe             64               18              4

     total_litres_of_pure_alcohol      continent
0                             0.0           Asia
1                             4.9         Europe
2                             0.7         Africa
3                            12.4         Europe
4                             5.9         Africa
5                             4.9  North America
6                             8.3  South America
7                             3.8         Europe
8                            10.4        Oceania
9                             9.7         Europe
10                            1.3         Europe
11                            6.3  North America
12                            2.0           Asia
13                            0.0           Asia
14                            6.3  North America
15                           14.4         Europe
16                           10.5         Europe
17                            6.8  North America
18                            1.1         Africa
19                            0.4           Asia
20                            3.8  South America
21                            4.6         Europe
22                            5.4         Africa
23                            7.2  South America
24                            0.6           Asia
25                           10.3         Europe
26                            4.3         Africa
27                            6.3         Africa
28                            4.0         Africa
29                            4.0         Africa
..                            ...            ...
163                           5.6  South America
164                           4.7         Africa
165                           7.2         Europe
166                          10.2         Europe
167                           1.0           Asia
168                           0.3           Asia
169                           6.4           Asia
170                           3.9         Europe
171                           0.1           Asia
172                           1.3         Africa
173                           1.1        Oceania
174                           6.4  North America
175                           1.3         Africa
176                           1.4           Asia
177                           2.2           Asia
178                           1.0        Oceania
179                           8.3         Africa
180                           8.9         Europe
181                           2.8           Asia
182                          10.4         Europe
183                           5.7         Africa
184                           8.7  North America
185                           6.6  South America
186                           2.4           Asia
187                           0.9        Oceania
188                           7.7  South America
189                           2.0           Asia
190                           0.1           Asia
191                           2.5         Africa
192                           4.7         Africa

[193 rows x 6 columns]

## Data Assesment

In [ ]:
print(movies.head()) # examine the first 5 rows

In [ ]:
print(ufo.tail()) # examine the last 5 rows

In [ ]:
df.shape   # Shape of the dataset as matrix

In [ ]:
ufo.info()

In [ ]:
movies.dtypes

In [ ]:
df.describe(include='all')     #calculate summary statistics

In [5]:
ufo.columns

Index(['City', 'Colors Reported', 'Shape Reported', 'State', 'Time'], dtype='object')

In [ ]:
ufo['City']        # select the 'City' Series using bracket notation
#ufo.City          # or equivalently, use dot notation

In [ ]:
movies.genre.nunique()

In [15]:
movies.genre.unique()

array(['Crime', 'Action', 'Drama', 'Western', 'Adventure', 'Biography',
       'Comedy', 'Animation', 'Mystery', 'Horror', 'Film-Noir', 'Sci-Fi',
       'History', 'Thriller', 'Family', 'Fantasy'], dtype=object)

In [ ]:
# loc  - [index/bool,'column names']
# iloc - [index/bool,index position]

The [**`loc`**](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.loc.html) method is used to select rows and columns by **label / name**. You can pass it:

- A single label
- A list of labels
- A slice of labels
- A boolean Series
- A colon (which indicates "all labels")

In [ ]:
# row 0, all columns
ufo.loc[1, :]

In [ ]:
# rows 0 and 1 and 2, all columns
ufo.loc[[0, 1, 2], :]

In [ ]:
# rows 0 through 2 (inclusive), all columns
ufo.loc[0:2, :]

In [ ]:
# rows 0 through 2 (inclusive), columns 'City' and 'State'
ufo.loc[0:2, ['City', 'State']]

In [ ]:
# rows 0 through 2 (inclusive), columns 'City' through 'State' (inclusive)
ufo.loc[0:2, 'City':'State']

The [**`iloc`**](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.iloc.html) method is used to select rows and columns by **integer position**. You can pass it:

- A single integer position
- A list of integer positions
- A slice of integer positions
- A colon (which indicates "all integer positions")

In [ ]:
# rows in positions 0 and 1, columns in positions 0 and 3
ufo.iloc[[0, 1], [0, 3]]

In [ ]:
# rows in positions 0 through 2 (exclusive), columns in positions 0 through 4 (exclusive)
ufo.iloc[0:2, 0:4]

In [ ]:
# rows in positions 0 through 2 (exclusive), all columns
ufo.iloc[0:2, :]

In [ ]:
# read a specific column
df.columns 
print(df.iloc[2,1])

## Sorting/Describing Data

In [29]:
# sort the 'title' Series in ascending order (returns a Series)
movies.title.sort_values().head()

# sort in descending order instead
#movies.title.sort_values(ascending=False).head()

542     (500) Days of Summer
5               12 Angry Men
201         12 Years a Slave
698                127 Hours
110    2001: A Space Odyssey
Name: title, dtype: object

In [ ]:
movies.sort_values('title', ascending=False).head()

In [ ]:
df.sort_values(['Type 1', 'HP'], ascending=[False,True])

In [1]:
movies.sort_values(['star_rating', 'duration','content_rating'],ascending=[False,True,True]).head(10)

NameError: name 'movies' is not defined

## Making changes to the data

In [ ]:
# Create a new series inside the orignal series

ufo['Location'] = ufo.City + ', ' + ufo.State     # Create a new series inside the orignal series
ufo.head()

# df = df.drop(columns=['Total'])

#df['Total'] = df.iloc[:, 4:10].sum(axis=1)

#cols = list(df.columns)
#df = df[cols[0:4] + [cols[-1]]+cols[4:12]]

#df.head(5)

In [ ]:
df['Total'] = df['HP'] + df['Attack'] + df['Defense'] + df['Sp. Atk'] + df['Sp. Def'] + df['Speed']
df.head()

In [ ]:
# rename a column

df.rename(columns={'Name':'Pokemon'}, inplace = True )  
df.head()

In [ ]:
# remove columns

ufo.drop(['City', 'State'], axis=1, inplace=True)       # Column axis=1  &  Row axis=0
ufo.head()

## Saving our Data (Exporting into Desired Format)

In [ ]:
# df.to_csv('modified.csv', index=False)

#df.to_excel('modified.xlsx', index=False)

df.to_csv('modified.txt', index=False, sep='\t')

## Filtering Data

In [ ]:
movies.duration

In [ ]:
movies.duration >= 200

In [ ]:
movies[movies.duration >= 200]

In [8]:
movies[movies.duration >= 200].title #spicifying movies titles only which are greater than 200 minutes

2                             The Godfather: Part II
7      The Lord of the Rings: The Return of the King
17                                     Seven Samurai
78                       Once Upon a Time in America
85                                Lawrence of Arabia
142                Lagaan: Once Upon a Time in India
157                               Gone with the Wind
204                                          Ben-Hur
445                             The Ten Commandments
476                                           Hamlet
630                                        Malcolm X
767                  It's a Mad, Mad, Mad, Mad World
Name: title, dtype: object

Understanding **logical operators:**

- **`and`**: True only if **both sides** of the operator are True
- **`or`**: True if **either side** of the operator is True

Rules for specifying **multiple filter criteria** in pandas:

- use **`&`** instead of **`and`**
- use **`|`** instead of **`or`**
- add **parentheses** around each condition to specify evaluation order

**Goal:** Further filter the DataFrame of long movies (duration >= 200) to only show movies which also have a 'genre' of 'Drama'

In [ ]:
movies[(movies.duration >=200) & (movies.genre == 'Drama')]

In [ ]:
movies[(movies.duration >=200) | (movies.genre == 'Drama')].head()

In [9]:
movies[(movies.genre == 'Crime') | (movies.genre == 'Drama') | (movies.genre == 'Action')].head(10)

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."
5,8.9,12 Angry Men,NOT RATED,Drama,96,"[u'Henry Fonda', u'Lee J. Cobb', u'Martin Bals..."
9,8.9,Fight Club,R,Drama,139,"[u'Brad Pitt', u'Edward Norton', u'Helena Bonh..."
11,8.8,Inception,PG-13,Action,148,"[u'Leonardo DiCaprio', u'Joseph Gordon-Levitt'..."
12,8.8,Star Wars: Episode V - The Empire Strikes Back,PG,Action,124,"[u'Mark Hamill', u'Harrison Ford', u'Carrie Fi..."
13,8.8,Forrest Gump,PG-13,Drama,142,"[u'Tom Hanks', u'Robin Wright', u'Gary Sinise']"

In [14]:
new_df = df.loc[(df['Type 1'] == 'Grass') & (df['Type 2'] == 'Poison') & (df['HP'] > 70)]

#new_df.reset_index(drop=True, inplace=True)

new_df

#new_df.to_csv('filtered.csv')

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
50,45,Vileplume,Grass,Poison,75,80,85,110,90,50,1,False
77,71,Victreebel,Grass,Poison,80,105,65,100,70,70,1,False
652,591,Amoonguss,Grass,Poison,114,85,70,85,80,30,5,False

In [34]:
orders.item_name.str.contains('Chicken').head()

0    False
1    False
2    False
3    False
4     True
Name: item_name, dtype: bool

In [35]:
orders[orders.item_name.str.contains('Chicken')].head()  # Filtering data with string 'Chicken'

,order_id,quantity,item_name,choice_description,item_price
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
11,6,1,Chicken Crispy Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75
12,6,1,Chicken Soft Tacos,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",$8.75
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25

In [ ]:
# create a DataFrame only containing movies with a high 'star_rating'
top_movies = movies.loc[movies.star_rating >= 9, :]
top_movies

## Handling Missing Values

**What does "NaN" mean?**

- "NaN" is not a string, rather it's a special value: **`numpy.nan`**.
- It stands for "Not a Number" and indicates a **missing value**.
- **`read_csv`** detects missing values (by default) when reading the file, and replaces them with this special value.

In [ ]:
# 'isnull' returns a DataFrame of booleans (True if missing, False if not missing)

ufo.isnull().tail()
#ufo.isnull().sum()

In [ ]:
# 'nonnull' returns the opposite of 'isnull' (True if not missing, False if missing)

ufo.notnull().tail()
#ufo.notnull().sum()

In [ ]:
# use the 'isnull' Series method to filter the DataFrame rows

ufo[ufo.City.isnull()].head()

In [ ]:
ufo.dropna(how='any')          # if 'any' values are missing in a row, then drop that row
#ufo.dropna(how='any').shape

In [ ]:
ufo.dropna(how='all')       # if 'all' values are missing in a row, then drop that row (none are dropped in this case)
#ufo.dropna(how='all').shape

In [ ]:
# if 'any' values are missing in a row (considering only 'City' and 'Shape Reported'), then drop that row

ufo.dropna(subset=['City', 'Shape Reported'], how='any').shape

In [ ]:
# if 'all' values are missing in a row (considering only 'City' and 'Shape Reported'), then drop that row

ufo.dropna(subset=['City', 'Shape Reported'], how='all').shape

In [ ]:
ufo['Shape Reported'].value_counts()               # 'value_counts' does not include missing values by default
#ufo['Shape Reported'].value_counts(dropna=False)   # explicitly include missing values

In [ ]:
ufo['Shape Reported'].fillna(value='VARIOUS', inplace=True)   # fill in missing values with a specified value
#ufo['Shape Reported'].value_counts().head()                   # confirm that the missing values were filled in

## Groupby Methods

In [ ]:
# calculate the mean beer servings for each continent
drinks.groupby('continent').describe()['beer_servings']

In [ ]:
# other aggregation functions (such as 'max') can also be used with groupby
drinks.groupby('continent').beer_servings.max()

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
drinks.groupby('continent').mean().plot(kind='bar')


## Miscellaneous

In [ ]:
# replace all of the column names by overwriting the 'columns' attribute

ufo_cols = ['city', 'colors_reported', 'shape_reported', 'state', 'time','Location']
ufo.columns = ufo_cols
ufo.columns

In [ ]:
# replace all spaces with underscores in the column names by using the 'str.replace' method

ufo.columns = ufo.columns.str.replace(' ', '_')
ufo.columns

In [ ]:
# replace the column names during the file reading process by using the 'names' parameter

ufo = pd.read_csv('ufo.csv', header=0, names=ufo_cols)
ufo.columns

## For detailed documentation (https://pandas.pydata.org/pandas-docs/stable/reference/index.html)