<a href="https://colab.research.google.com/github/LATAM-Data-Science-Study-Group/Data-Science-Notebooks/blob/master/El%20modulo%20Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# El modulo Pandas

pandas es una herramienta de análisis y manipulación de datos de código abierto, rápida, potente, flexible y fácil de usar, construido sobre el lenguaje de programación Python.
Este modulo provee APIs para manipular estructuras de datos de manera sencilla. Las principales estructuras definidas en pandas son los DataFrame y Series.

El nombre hace referencia al termino 'panel data' refiriendose a los datos tabulares, pandas es un proyecto de codigo libre iniciado por Wes McKinney el cual tiene una fuerte referencia al paquete Python Numpy.

## DataFrame

Un DataFrame es una estructura de datos tabular representada por una tabla de dos dimensiones, esta compuesta por filas, columnas, indices y celdas, bastante simiar a una tabla de Excel o a una base de datos.

## Series

Un pandas Series es basicamente un DataFrame de una sola columna

## Importar pandas

Para usar el modulo de pandas en nuestros proyectos primero tenemos que importarlo de la siguiente manera.

In [29]:
import pandas as pd
import numpy as np

Los datos pueden ser distribuidos de muchas maneras: CSV, JSON, SQL, HTML y mas. Pandas provee funciones de entrada y salida de datos en los formatos mas comunes.

| Entrada | Salida|
|--------|--------|
|    read_csv    |    to_csv    |
|    read_excel    |    to_excel    |
|    read_hdf      |    to_hdf      |
|    read_sql    |    to_sql    |
|    read_json    |    to_JSON    |
|    read_html      |    to_html      |
|    read_stata    |    to_stata    |
|    read_clipboard    |    to_clipboard    |
|    read_pickle      |    to_pickle      |

Para leer archivos en formato csv se ejecuta la siguiente instruccion: pd.read_csv().
El cargador CSV es uno de los mas usados y uno de los mas completos en terminos de normalizacion.

In [2]:
df = pd.read_csv(r'../Datasets/Pokemon.csv')

los dos puntos dentro de la ruta del archivo son para movernos a una carpeta atras de de la ubicacion actual ya que el archivo se encuentra en una carpeta a parte llamada "Datasets" dentro del mismo proyecto.

Si nuestro archivo se encuentra en la ruta especificada como parametro, el dataframe se habra creado con los datos del archivo csv.

Para este ejemplo estamos usando un set de datos de Pokemon para simplificar la teoria y hacerlo un poco mas ligero y comprensible.

Podemos visualizar una muestra de nuestro dataframe de manera sencilla con la función head(), el parametro dentro de los parentesis indica la cantidad de filas a mostrar.

In [3]:
df.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

Podemos accesar a la informacion almacenada en cada fila con el metodo iloc()

In [4]:
df.iloc[5]

#                      5
Name          Charmeleon
Type 1              Fire
Type 2               NaN
Total                405
HP                    58
Attack                64
Defense               58
Sp. Atk               80
Sp. Def               65
Speed                 80
Generation             1
Legendary          False
Name: 5, dtype: object

Tambien podemos seleccionar ubicaciones de filas y columnas por medio de su indice numerico

In [10]:
df.iloc[5, 1]

'Charmeleon'

El metodo loc() es similar a iloc() solo que este metodo nos permite buscar informacion por nombres o etiquetas

In [15]:
df.loc[5, 'Type 1']

'Fire'

Las tablas pivote son muy populares para visualizar los datos de manera mas representativa para los principiantes, estas tablas son basicamente una reorganizacion de los resultados en una nueva tabla.

In [41]:
pivote = pd.pivot_table(df, values=['Total', 'HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed'], index='Type 1', aggfunc=np.mean)

pivote

,Attack,Defense,HP,Sp. Atk,Sp. Def,Speed,Total
Type 1,,,,,,,
Bug,70.971014,70.724638,56.884058,53.869565,64.797101,61.681159,378.927536
Dark,88.387097,70.225806,66.806452,74.645161,69.516129,76.161290,445.741935
Dragon,112.125000,86.375000,83.312500,96.843750,88.843750,83.031250,550.531250
Electric,69.090909,66.295455,59.795455,90.022727,73.704545,84.500000,443.409091
Fairy,61.529412,65.705882,74.117647,78.529412,84.705882,48.588235,413.176471
Fighting,96.777778,65.925926,69.851852,53.111111,64.703704,66.074074,416.444444
Fire,84.769231,67.769231,69.903846,88.980769,72.211538,74.442308,458.076923
Flying,78.750000,66.250000,70.750000,94.250000,72.500000,102.500000,485.000000
Ghost,73.781250,81.187500,64.437500,79.343750,76.468750,64.343750,439.562500
Grass,73.214286,70.800000,67.271429,77.500000,70.428571,61.928571,421.142857
Ground,95.750000,84.843750,73.781250,56.468750,62.750000,63.906250,437.500000
Ice,72.750000,71.416667,72.000000,77.541667,76.291667,63.458333,433.458333
Normal,73.469388,59.846939,77.275510,55.816327,63.724490,71.551020,401.683673
Poison,74.678571,68.821429,67.250000,60.428571,64.392857,63.571429,399.142857
Psychic,71.456140,67.684211,70.631579,98.403509,86.280702,81.491228,475.947368
Rock,92.863636,100.795455,65.363636,63.340909,75.477273,55.909091,453.750000
Steel,92.703704,126.370370,65.222222,67.518519,80.629630,55.259259,487.703704
Water,74.151786,72.946429,72.062500,74.812500,70.517857,65.964286,430.455357

In [46]:
legendarios = df[df['Legendary'] == True]

legendarios

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
156,144,Articuno,Ice,Flying,580,90,85,100,95,125,85,1,True
157,145,Zapdos,Electric,Flying,580,90,90,85,125,90,100,1,True
158,146,Moltres,Fire,Flying,580,90,100,90,125,85,90,1,True
162,150,Mewtwo,Psychic,NaN,680,106,110,90,154,90,130,1,True
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True