<a href="https://colab.research.google.com/github/LATAM-Data-Science-Study-Group/Data-Science-Notebooks/blob/master/El%20modulo%20Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# El modulo Pandas

pandas es una herramienta de análisis y manipulación de datos de código abierto, rápida, potente, flexible y fácil de usar, construido sobre el lenguaje de programación Python.
Este modulo provee APIs para manipular estructuras de datos de manera sencilla. Las principales estructuras definidas en pandas son los DataFrame y Series.

## DataFrame

Un DataFrame es una estructura de datos tabular representada por una tabla de dos dimensiones, esta compuesta por filas, columnas, indices y celdas, bastante simiar a una tabla de Excel o a una base de datos.

## Series

Un pandas Series es basicamente un DataFrame de una sola columna

## Importar pandas

Para usar el modulo de pandas en nuestros proyectos primero tenemos que importarlo de la siguiente manera.

In [1]:
import pandas as pd

Con pandas podemos leer nuestros datos directamente desde varios formatos. Para leer archivos en formato csv se ejecuta la siguiente instruccion: pd.read_csv()

In [2]:
df = pd.read_csv(r'../Datasets/Pokemon.csv')

los dos puntos dentro de la ruta del archivo son para movernos a una carpeta atras de de la ubicacion actual ya que el archivo se encuentra en una carpeta a parte llamada "Datasets" dentro del mismo proyecto.

Si nuestro archivo se encuentra en la ruta especificada como parametro, el dataframe se habra creado con los datos del archivo csv.

Para este ejemplo estamos usando un set de datos de Pokemon para simplificar la teoria y hacerlo un poco mas ligero y comprensible.

Podemos visualizar una muestra de nuestro dataframe de manera sencilla con la función head(), el parametro dentro de los parentesis indica la cantidad de filas a mostrar.

In [3]:
df.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False